<a href="<%=validFilename%>" target="_blank" download>
    Download found addresses (CSV)
</a>
<br>
<br>

<a href="<%=invalidFilename%>" target="_blank" download>
    Download duplicate/invalid addresses (CSV)
</a>